  
<button  (click)="onAddDialog()" type="submit" class="btn btn-primary btn-lg">&nbsp;<i class="fa fa-plus-circle"></i>&nbsp; Add &nbsp;</button>
<div class="search-box">
  <input matInput type="text" matTooltip="Search Record" (keyup)="applyFilter($event.target.value)" class="search-text" placeholder="Search">
  <a class="search-btn">
    <i class="fa fa-search"></i>
  </a>
</div>

<mat-table   [dataSource] = "dataSource"  matSort>
  
  <ng-container matColumnDef = "cityId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</mat-header-cell>
    <mat-cell *matCellDef = " let item">{{item.cityId}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef = "cityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City Name</mat-header-cell>
      <mat-cell class="itemName-cell" *matCellDef=" let item">{{item.cityName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef = "update">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef = " let item"  (click)="showForEdit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></mat-cell>
  </ng-container>

  <ng-container matColumnDef = "delete">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef = " let item"  (click)="forDelete(item)"><i class="fa fa-trash" aria-hidden="false"></i></mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
  <mat-row *matRowDef = "let row; columns: displayedColumns"></mat-row>
    </mat-table>

<mat-paginator [length]="100"
            [pageSize]="8"
            [pageSizeOptions]="[3,5, 10, 25, 100]"
            showFirstLastButtons>
</mat-paginator>

