<form class="form" #typeForm="ngForm" (ngSubmit)="onSubmit(typeForm)">
  <p class='msg_success'>{{msg}}</p>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <input name="typeName" class="form-control" #typeName="ngModel" [(ngModel)]="typemasterService.selectType.typeName"
          placeholder="Type Name" required>
        <div class="validation-error" *ngIf=" typeName.invalid && typeName.touched">Required Feild</div>
      </div>
      <div class="col-md-6">
        <input name="typeDescription" class="form-control" #typeDescription="ngModel" [(ngModel)]="typemasterService.selectType.typeDescription"
          placeholder="Type Description" required>
        <div class="validation-error" *ngIf=" typeDescription.invalid && typeDescription.touched">Required Feild</div>
      </div>
    </div>
    <input name="typeId" value="0" style="visibility: collapse;" class="form-control" #typeId="ngModel" [(ngModel)]="typemasterService.selectType.typeId">
  </div>
  <div class="row">
    <div class="col-md-8">
      <button (click)="onCloseConfirm()" matTooltip="Submit Record" [disabled]="!typeForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="resetForm(typeForm)" matTooltip="Reset Form" class="btn btn-lg btn-block btn-secondary">Reset</button>
    </div>
  </div>
</form>