
.btn{
    border-radius: 10px;
    padding: 5px;
    background: green;
    margin-inline-start: 76%;
}

    
.mat-header-cell{
    font-size: 15px;
    font-weight:bold;
    color: black;
    background: #7db9e8;
    box-shadow: 7px 8px 11px lightgray;
    text-align: center;

}
.mat-cell{
    background: #ecf0f5;
}
        
.mat-column-update {
    flex: 0 0 60px;
    color: green;
}
    
.mat-column-delete {
    flex: 0 0 60px;
    color: red;
}
    
.mat-paginator{
    font-size: 15px;
    font-weight:bold;
    color: black;
    background: #7db9e8;
    box-shadow: 7px 8px 9px lightgray;
    box-sizing: 1111px;
    border-radius: 12px;
}

mat-table{
    margin-top:10px;
}

   

.search-box{
    float: right;
    transform: translate(-10%);
    background:   #ecf0f5;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-text{
    width: 80px;
    padding: 0 6px;
}

.search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 22px;
    background:   #ecf0f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 22px;
    width: 0px;
}