<form class="form" #unitForm="ngForm" (ngSubmit)="onSubmit(unitForm)">
   <p class='msg_success'>{{msg}}</p>
  <div class="form-group row"> 
      
    <div class="col-md-6">
    <label>Unit name</label>
      <input name="unitName" class="form-control" placeholder="Unit Name" #unitName="ngModel" [(ngModel)]="unitService.selectUnit.unitName" required pattern="[a-zA-Z][a-zA-Z]+"> 
      <div *ngIf="unitName?.touched" class=" alert-danger">
        <div *ngIf="unitName.errors?.required">
         Name is required
        </div>
        <div *ngIf="unitName.errors?.pattern">
          Enter only character.
        </div>
      </div>
    </div>
      <div class="col-md-6">
      <label>Unit Description</label>
        <input name="unitDescription" class="form-control" placeholder="Description" #unitDescription="ngModel" [(ngModel)]="unitService.selectUnit.unitDescription" required pattern="[a-zA-Z][a-zA-Z]+"> 
    <div *ngIf="unitDescription?.touched" class=" alert-danger">
        <div *ngIf="unitDescription.errors?.required">
         Description is required
        </div>
        <div *ngIf="unitDescription.errors?.pattern">
          Enter only character.
        </div>
      </div>
      </div>
          <input name="unitId" value="0" style="visibility: collapse;" class="form-control"  #unitId="ngModel" [(ngModel)]="unitService.selectUnit.unitId"> 
     
    </div>
  
  
  <div class="row">
    <div class="col-md-8">
      <button (click)="onCloseConfirm()" [disabled]="!unitForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(unitForm)">Reset</button>
      </div>
  </div>
  
  </form>

  