<form class="form" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <p class='msg_success'>{{msg}}</p>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
      <label>Item name</label>
        <input name="itemName" class="form-control" #itemName="ngModel" [(ngModel)]="itemmasterService.selectItem.itemName"
          placeholder="Item Name" required pattern="[a-zA-Z ]+">
<div *ngIf="itemName?.touched" class=" alert-danger">
        <div *ngIf="itemName.errors?.required">
         Name is required
        </div>
        <div *ngIf="itemName.errors?.pattern">
          Enter only character.
        </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
      <label>Item uantity</label>
        <input name="itemQuantity" matTooltip="This Input Feild Have Only Nummbers" (keypress)="numberOnly($event)"
          class="form-control" #itemQuantity="ngModel" [(ngModel)]="itemmasterService.selectItem.itemQuantity"
          placeholder="Item Quantity"  required pattern="[0-9]+">
<div *ngIf="itemQuantity?.touched" class=" alert-danger">
        <div *ngIf="itemQuantity.errors?.required">
         Name is required
        </div>
        <div *ngIf="itemQuantity.errors?.pattern">
          Enter only digit.
        </div>
      </div>
      </div>
      <div class="col-md-6">
      <label>Item prise</label>
        <input name="itemPrice" class="form-control" #itemPrice="ngModel" [(ngModel)]="itemmasterService.selectItem.itemPrice"
          placeholder="Item Price" matTooltip="This Input Feild Have Only Nummbers" (keypress)="numberOnly($event)"
          required pattern="[0-9]+">
          <div *ngIf="itemPrice?.touched" class=" alert-danger">
        <div *ngIf="itemPrice.errors?.required">
         Name is required
        </div>
        <div *ngIf="itemPrice.errors?.pattern">
          Enter only digit.
        </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
      <label>Unit name</label>
        <select required name="unitId" #refUnit="ngModel" class="form-control" [(ngModel)]="unitService.selectUnit">
          <option value="undefined">Select Unit Name</option>
          <option *ngFor="let unit of units" [ngValue]="unit.unitId">
            {{unit.unitName}}
          </option>
        </select> </div>

      <div class="col-md-6">
      <label>Type name</label>
        <select required name="typeId" #refType="ngModel" class="form-control" [(ngModel)]="typemasterService.selectType">
          <option value="undefined">Select Item Type</option>
          <option *ngFor="let type of types" [ngValue]="type.typeId">
            {{type.typeName}}
          </option>
        </select> </div>
    </div>
    <input name="itemId" value="0" style="visibility: collapse;" class="form-control" #unitId="ngModel" [(ngModel)]="itemmasterService.selectItem.itemId">
  </div>
  <div class="row">
    <div class="col-md-8">
      <button (click)="onCloseConfirm()" (click)="openSnackBar()" matTooltip="Submit Record" [disabled]="!itemForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="resetForm(itemForm)" matTooltip="Reset Form" class="btn btn-lg btn-block btn-secondary">Reset</button>
    </div>
  </div>
</form>