<form class="form" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <p class='msg_success'>{{msg}}</p>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <input name="itemName" class="form-control" #itemName="ngModel" [(ngModel)]="itemmasterService.selectItem.itemName" placeholder="Item Name" required>
        <div class="validation-error" *ngIf=" itemName.invalid && itemName.touched">Required Feild</div>
      </div>
      <div class="col-md-6">
        <input name="itemQuantity" matTooltip="This Input Feild Have Only Nummbers" (keypress)="numberOnly($event)" class="form-control" #itemQuantity="ngModel" [(ngModel)]="itemmasterService.selectItem.itemQuantity"
          placeholder="Item Quantity" required>
          <div class="validation-error" *ngIf=" itemQuantity.invalid && itemQuantity.touched">Required Feild</div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <select required name="unitId" #refUnit="ngModel" class="form-control" [(ngModel)]="unitService.selectUnit">
          <option value="undefined">Select Unit Name</option>
          <option *ngFor="let unit of units" [ngValue]="unit.unitId">
            {{unit.unitName}}
          </option>
        </select> </div>
      <div class="col-md-6">
        <input name="itemPrice" class="form-control" #itemPrice="ngModel" [(ngModel)]="itemmasterService.selectItem.itemPrice"
          placeholder="Item Price" matTooltip="This Input Feild Have Only Nummbers"  (keypress)="numberOnly($event)" required>
          <div class="validation-error" *ngIf=" itemPrice.invalid && itemPrice.touched">Required Feild</div>
      </div>
    </div>
    <input name="itemId" value="0" style="visibility: collapse;" class="form-control" #unitId="ngModel" [(ngModel)]="itemmasterService.selectItem.itemId">
  </div>
  <div class="row">
    <div class="col-md-8">
      <button (click)=" openSnackBar()" (click)="onCloseConfirm()" matTooltip="Submit Record" [disabled]="!itemForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="resetForm(itemForm)" matTooltip="Reset Form" class="btn btn-lg btn-block btn-secondary">Reset</button>
    </div>
  </div>
</form>