  
<button mat-riased-button  (click)="onAddDialog()" type="submit" class="btn btn-success">Add</button>
  
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">

<mat-table class="item-table mat-elevation-z8" [dataSource] = "dataSource"  matSort class="mat-elevation-z8">
  
  <ng-container matColumnDef = "ID">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</mat-header-cell>
    <mat-cell *matCellDef = " let item">{{item.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef = "unitName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Name</mat-header-cell>
      <mat-cell class="itemName-cell" *matCellDef=" let item">{{item.unitName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef = "unitDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Unit unitDescription</mat-header-cell>
    <mat-cell *matCellDef = " let item">{{item.unitDescription}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef = "update">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef = " let item"  (click)="showForEdit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></mat-cell>
  </ng-container>

  <ng-container matColumnDef = "delete">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef = " let item"><i class="fa fa-trash" aria-hidden="false"></i></mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
  <mat-row *matRowDef = "let row; columns: displayedColumns"></mat-row>
    </mat-table>

<mat-paginator [length]="100"
            [pageSize]="8"
            [pageSizeOptions]="[3,5, 10, 25, 100]"
            showFirstLastButtons>
</mat-paginator>

