<form class="emp-form" #unitForm="ngForm" (ngSubmit)="onSubmit(unitForm)">
   
<div class="form-group"> 
  <div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Unit Register</h2>
       </div>
    <input name="unitName" class="form-control" placeholder="Unit Name" #unitName="ngModel" [(ngModel)]="unitService.selectUnit.unitName" required> 
    <div class="validation-error" *ngIf="unitName.invalid && unitName.touched">This Field is reuired</div>
    <input name="unitDescription" class="form-control" placeholder="Description" #unitDescription="ngModel" [(ngModel)]="unitService.selectUnit.unitDescription" required> 
    <div class="validation-error" *ngIf="unitDescription.invalid && unitDescription.touched">This Field is reuired</div>

  </div>


<div class="row">
  <div class="col-md-8">
    <button [disabled]="!unitForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
  </div>
  <div class="col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(unitForm)">Reset</button>
    </div>
</div>

</form>