<form class="form" #supplierForm="ngForm" (ngSubmit)="onSubmit(supplierForm)">
     <label>Supplier Name</label>
     <input class="form-group" name="supName" class="form-control" placeholder="supplier Name" #supName="ngModel" [(ngModel)]="supplierService.selectSupplier.supName" required pattern="[a-zA-Z][a-zA-Z]+"> 
     <div *ngIf="supName?.touched" class=" alert-danger">
        <div *ngIf="supName.errors?.required">
         Name is required
        </div>
        <div *ngIf="supName.errors?.pattern">
          Enter only character.
        </div>
      </div>
<br>
      <label>Supplier Address</label>
     <input class="form-group" name="supAddress" class="form-control" placeholder="Supplier Address" #supAddress="ngModel" [(ngModel)]="supplierService.selectSupplier.supAddress" required pattern="[a-zA-Z][a-zA-Z]+"> 
    <div *ngIf="supAddress?.touched" class=" alert-danger">
        <div *ngIf="supAddress.errors?.required">
      Address is required
        </div>
        <div *ngIf="supAddress.errors?.pattern">
          Enter only character.
        </div>
      </div>
<br>
   <div class="row">
     <div class="col-md-6">
     <label>Whatsapp Mobile number</label>
       <input name="supMobNo" class="form-control" placeholder="Mobile Number" #supMobNo="ngModel" [(ngModel)]="supplierService.selectSupplier.supMobNo" required pattern="[0-9]+" minlength="10" maxlength="10">
       <div *ngIf="supMobNo?.touched" class=" alert-danger">
          <div *ngIf="supMobNo.errors?.required">
          Mobile number is required
          </div>
          <div *ngIf="supMobNo.errors?.pattern">
            Enter only digit.
          </div>
          <div *ngIf="supMobNo.errors?.minlength">Enter 10 digit
          </div>
        </div>
     </div>
     <div class="col-md-6">
     <label>Alternate mobile number</label>
      <input name="supMobNo2" class="form-control" placeholder="Alternate Mobile Number" #supMobNo2="ngModel" [(ngModel)]="supplierService.selectSupplier.supMobNo2" required pattern="[0-9]+" minlength="10" maxlength="10">
      <div *ngIf="supMobNo2?.touched" class=" alert-danger">
          <div *ngIf="supMobNo2.errors?.required">
          Mobile number is required
          </div>
          <div *ngIf="supMobNo2.errors?.pattern">
            Enter only digit.
          </div>
          <div *ngIf="supMobNo2.errors?.minlength">Enter 10 digit
          </div>
        </div>
     </div>
    
   </div>
   <br>
   <div class="row">
     <div class="col-md-2">
     <label>Pincode:</label></div>
     
     <div class="col-md-4">
      <input name="supPincode" class="form-control" placeholder="PinCode" #supPincode="ngModel" [(ngModel)]="supplierService.selectSupplier.supPincode" required pattern="[0-9]+" minlength="7" maxlength="7">
       <div *ngIf="supPincode?.touched" class=" alert-danger">
          <div *ngIf="supPincode.errors?.required">
          Mobile number is required
          </div>
          <div *ngIf="supPincode.errors?.pattern">
            Enter only digit.
          </div>
          <div *ngIf="supPincode.errors?.minlength">Enter 7 digit only
          </div>
        </div>
     </div>
     <div class="col-md-6"></div>
    </div>
     <input name="supId" value="0" style="visibility: collapse;" class="form-control"  #unitId="ngModel" [(ngModel)]="supplierService.selectSupplier.supId"> -
   
 
 <div class="row">
   <div class="col-md-8">
     <button (click)="onCloseConfirm()" [disabled]="!supplierForm.valid" type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
   </div>
   <div class="col-md-4">
       <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(supplierForm)">Reset</button>
     </div>
 </div>
 
 </form>

 
