/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular2-toaster/toaster';
@import '/loading-page';
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
form.emp-form{
  background-color: #dbdbdb;
  border-radius: 4px;
  padding: 10px;
}
div.validation-error{
  color: red;
  text-align: center;
}
button:hover,a.btn:hover{
  cursor: pointer;
}
.section {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.date-placeholder {
  &:before{
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  &:focus:before, &:valid:before {
    content: "";
  }
}
@media (max-width: 990px) { 
 .margin-top-md {
  margin-top: 6px;
 }
}
@media (min-width: 768px) {
 .scrollable {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
 }
}
.divider {
 height: 1px;
 width:100%;
 display:block; /* for use on default inline elements like span */
 margin: 9px 0;
 overflow: hidden;
 background-color: darken(#e5e5e5, 20%);
}
.purple-button,
.purple-button:hover,
.purple-button:active,
.purple-button:visited,
.purple-button:focus {
  background-color: #9933ff !important;
  border-color: #9933ff !important;
}
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
 transition: transform .5s ease;
}
.ql-container {
  min-height: 250px;
  margin-bottom: 20px;
}
.login-logo img{
 width: 100%;
}