<div class="login-page">
  <div class="form">
 
    <form class="login-form" #adminLoginForm="ngForm" (ngSubmit)="onLogin(adminLoginForm)">
      <input type="text" placeholder="username" name="adminUserName" #UserName="ngModel" [(ngModel)]="admin.adminUserName" required/>
      <input type="password" placeholder="password" name="adminPassword" #Password="ngModel" [(ngModel)]="admin.adminPassword" required minlength="3"/>
      <button type="submit" class="btn btn-primary">Login</button><p>  </p>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>